<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SaltyWaters | Tasks</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"><%= link_to 'SaltyWaters', root_path %></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input class="form-control" placeholder="Search..." type="text">
          </form>
        </div>
      </div>
    </nav>


    <div class="container-fluid sidebar-top-space">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar sidebar-bg-color">
          <ul class="nav nav-sidebar">
            <li><a href="#">Tank Setup</a></li>
            <li><a href="#">Tasks</a></li>
            <li><a href="#">Test Results</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">iDB</a></li>
            <li><a href="">Equipment</a></li>
            <li><a href="">Journal</a></li>
            <li><a href="">Expenses</a></li>
            <li><a href="">Store Locator</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">General Information</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul>
        </div>

        <!-- Task information will show here -->
        <div class="col-sm-9 main">
          <h2 class="sub-header">Tasks</h2>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Frequency</th>
                    <th>Taskname</th>
                    <th>Details</th>
                    <th>Datetime</th>
                    <th colspan="3"></th>
                  </tr>
                </thead>

                <tbody>
                  <% @tasks.each do |task| %>
                    <tr>
                      <td><%= task.frequency %></td>
                      <td><%= task.taskName %></td>
                      <td><%= task.details %></td>
                      <td><%= task.dateTime %></td>
                      <td><%= link_to 'Show', task %></td>
                      <td><%= link_to 'Edit', edit_task_path(task) %></td>
                      <td><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <br>
              <%= link_to 'New Task', new_task_path %>
            </div>
          </div>
        </div>
      </div>


    <%= yield %>
  </body>
</html>
